<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title> The Solar System</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
          integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
</head>
<body class="text-center bg-secondary">
<ul class="navbar-toggler">
    <a href="/"> Home </a>
    <a href="/mercury" class="b"> Mercury </a>
    <a href="/venus"> Venus </a>
    <a href="/earth"> Earth </a>
    <a href="/mars"> Mars </a>
</ul>
