<%- include('partials/header.ejs') %>
<h1 class="jumbotron bg-primary">Earth</h1>
<img src="/img/earth.jpg" class="img-thumbnail">
<div class="container-md">
    <div class="bg-info text-dark">
    Earth is the third planet from the sun and is likely th planet you are on while reading this! It is the only planet
    known to harbor complicated life forms, and the home of humanity. Earth has a radius of around 3,959 miles, and is
    the third planet from the sun. Scientists estimate its age at around 4.5 billion years old, and it orbits the sun
    from around 93 million miles away.
    </div>
</div>
</p>
<%- include('partials/footer.ejs') %>
