<%- include('partials/header.ejs') %>
<h1 class="jumbotron bg-primary">Venus</h1>
<img src="/img/mars.jpg" class="img-thumbnail">
<div class="container-md">
    <div class="bg-info text-dark">
        Mars is the fourth planet from the Sun and has been the destination for many space missions because of its close
        distance to Earth as well as its relatively hospitable surface and atmosphere. It has a diameter of around 2100
        miles and weighs only as much as .11 Earths. It takes much longer than Earth to make a full rotation around the
        Sun, taking 687 days. It orbits around 141 million miles away from the Sun and has two moons orbiting it.
    </div>
</div>
</p>
<%- include('partials/footer.ejs') %>
