<%- include('partials/header.ejs') %>
<h1 class="jumbotron bg-primary">Mercury</h1>
<img src="/img/mercury.png" class="img-thumbnail">
<div class="container-md">
    <div class="bg-info text-dark">
    Mercury is the closest planet to the Sun and orbits around 36 million miles away from the Sun. A year on mercury,
    the time to orbit the Sun, is only around 88 days. It is also the smallest planet in the solar system, with a
    diameter of only around 1515 miles and the mass of only 0.06 Earths.
    </div>
</div>
<%- include('partials/footer.ejs') %>
1515