<%- include('partials/header.ejs') %>
<h1 class="jumbotron bg-primary">Venus</h1>
<img src="/img/venus.png" class="img-thumbnail">
<div class="container-md">
    <div class="bg-info text-dark">
    Venus is the second planet from the sun and is the closest in size with Earth. Venus has a radius of 3750 miles and
    weighs nearly as much as Earth with a mass of 0.82 Earths. Venus orbits the Sun at around 67 million miles away.
    The time period for Venus to orbit the Sun is about 225 days on Earth. Although similar in size and orbit distance
    to Earth, it is much more hostile with surface temperatures reaching 462 &degC due to its thick atmosphere.
    </div>
</div>
</p>
<%- include('partials/footer.ejs') %>
